# Variáveis de ambiente
.env

# Banco de dados SQLite
banco.db

# Cache Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Ambientes virtuais
venv/
.venv/
env/